.navigation {
  margin-bottom: 5px;
}
.note {
  position: relative;
  top: 600px;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  padding-top: 50px;
  text-align: center;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
