.wrapper {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px 30px;
  border-radius: 10px;
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgb(68, 236, 132) 0%,
    rgba(255, 255, 255, 0.986) 100%
  );
}

.navbar {
  margin: 0 auto;
  border: 10px transparent;
  box-shadow: 9px 9px 5px rgba(44, 44, 44, 0.363);
  border-radius: 8px;
  line-height: 33px;
  font-size: 25px;
  font-weight: normal;
  padding-top: 4px;
  transition: all 100ms ease-in-out;
}
button:hover {
  background: rgba(241, 158, 143);
  color: white;
  cursor: pointer;
}
.text-decoration {
  text-decoration: underline;
  margin-bottom: -15px;
}
.contact {
  color: rgb(241, 158, 143);
}
.link {
  color: rgba(0, 0, 0, 0.438);
  text-decoration: none;
}
.link:hover {
  color: seashell;
  text-decoration: underline;
}
h1 {
  border: 2px solid seagreen;
  border-radius: 10px;
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
}
hr {
  border: 1.5px solid rgb(15, 66, 28);
}
ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
p {
  text-align: center;
  font-family: "Kaisei Opti", serif;
  font-weight: bold;
}
li {
  display: inline-block;
  margin: 0 15px;
}
a {
  text-decoration: none;
  color: rgb(241, 158, 143);
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
body {
  text-align: center;
}
